<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCkzH2FsnctrDVwXynHJstBMJAx64kLJ4o</string>
	<key>GCM_SENDER_ID</key>
	<string>543473123412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.newtonfav.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-badca</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-badca.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543473123412:ios:849e43ba2f15cceee56dc1</string>
</dict>
</plist>